@import '../../mixin.scss';

.modal-content {
  .modal-header {
    h4 {
      font-size: 1.5rem;
      letter-spacing: 0.5px;
      color: $gray_font;
    }
  }

  .modal-footer {
    justify-content: space-between !important;
  }
}
