@import '../../mixin.scss';

.wrapper-apresentation {
  display: flex;
  height: 95vh;
  padding: 20px 30px;

  .container-left {
    width: 50%;
    display: flex;
    justify-content: center;
    // align-items: center;
    img {
      width: 80%;
      height: 80%;
      object-fit: contain;
    }
  }
  .container-right {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    .info {
      padding-left: 80px;

      h3 {
        color: $blue_font;
        font-weight: bold;
        font-size: 2.8rem;
      }
      p {
        margin-bottom: 2rem !important;
        font-size: 1.5rem;
        color: $gray_font;
        line-height: 1.8rem;
      }
      @media only screen and (max-width: 1200px) {
        h3 {
          font-size: 2rem;
        }
        p {
          font-size: 1rem;
        }
      }

      @media only screen and (max-width: 400px) {
        h3 {
          font-size: 1.5rem;
        }
        p {
          font-size: 1rem;
        }
      }
      

    }
  }
  @media only screen and (max-width: 700px) {
    .container-left {
      display: none;
    }
    .container-right {
      width: 100%;
      .info {
        padding-left: 0;
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  .wrapper-apresentation {
    height: fit-content;

    padding-bottom: 30px;
  }
}