@import "./mixin";

//font-family: 'Montserrat', sans-serif;
//font-family: 'Futura';


/* Your default CSS. */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

*:focus {
	outline: 0;
}

@font-face {

}

.material-icons {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 24px;
	display: inline-block;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	-moz-osx-font-smoothing: grayscale;
	font-feature-settings: 'liga';
}

html {
	height: 100%;
	scroll-behavior: smooth; // scroll suavizado
}

body {
  font-family: 'Montserrat', sans-serif !important;
	font-size: 0.9375rem;
	top: 0px;
	left: 0px;
	overflow-x: hidden;

	max-width: 100%;
	background-color: white !important;
	background-position: bottom !important;
	background-repeat: no-repeat;
	background-attachment: fixed !important;
  opacity: 1;

  @media only screen and (max-width: 500px) {
    .primary-button, .secondary-button {
      font-size: 12px !important;
    }
  }

  .primary-button {
    background-color: $blue_default;
    color: #fff;
    border: 0;
    padding: 12px 20px;
    border-radius: 40px;
    font-weight: 600;
    transition: 0.5s;
    outline: none !important;
    box-shadow: 0 8px 16px 0 rgba(29, 100, 174, 0.25), 0 6px 20px -2px rgba(29, 100, 174, 0.19);

    &:hover {
      background-color: $blue_default__hover;
    }

    &:active {
      background-color: $blue_default !important;
      box-shadow: 0 8px 16px 0 rgba(29, 100, 174, 0.25), 0 6px 20px -2px rgba(29, 100, 174, 0.19) !important;
    }
  }
  
  .secondary-button {
    background-color: #fff;
    color: $blue_default;
    border: 1px solid $blue_default;
    padding: 12px 20px;
    border-radius: 40px;
    font-weight: 600;
    transition: 0.5s;
    outline: none !important;
    box-shadow: 0 8px 16px 0 rgba(29, 100, 174, 0.25), 0 6px 20px -2px rgba(29, 100, 174, 0.19);


    &:hover {
      background-color: rgb(203, 215, 255);
      color: $blue_default;
      border-color: $blue_default;
    }

    &:active {
      background-color: rgb(203, 215, 255) !important;
      color: $blue_default !important;
      border-color: $blue_default !important;
      box-shadow: 0 8px 16px 0 rgba(29, 100, 174, 0.25), 0 6px 20px -2px rgba(29, 100, 174, 0.19) !important;
    }
  }

  &::-webkit-scrollbar {
    width: 0.25rem;
  }

  &::-webkit-scrollbar-thumb {
    // border-radius: 20px;
    background: $blue_default;
  }

	@media only screen and (min-width: 1000px) {}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 500;
}
