$green : #4CD964;

$green_light: #26DEA8;

$red: #EF4040;

$purple: #6F5A9A;

$purple_light: #8E2DE2;

$purple_dark: #3E3F68;

$blue: #5157bb;

$blue_dark: #2a2e6c;

$body: #f8f8f9;

$blue_default: #1d64ae;

$blue_default__hover: #0c4888;

$gray_font: #6D6D6D;

$blue_font: #2e3056;